body {
    background-color: #faeabf;
}
.container{
    max-width: 900px;
}

.card-block {
    background: #d4e0ea;
    background: #d4e0ea;
    margin-bottom: 20px;
}

.jumbotron{
    margin-top: 15px;
    border: #b0b1b2 solid;
}

.card-header{
    font-weight: 700;
    font-size: 22px;
}

.burger-item{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
